html,
body {
    height: 100%;
    margin: 0;
}

.App {
    /*text-align: center; */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Site {
}

.Site-content {
    flex: 1;
}

.btnConnectContainer {
    display: flex;
    margin: auto 20px;
    height: 35px;
    min-width: 220px;
}

.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
